@import "../css/main.scss";

@mixin arrow{
    font-size: 2em;
}
@mixin green-bar{
    width: 2.3em;
    height: 0.2em;
    background-color: green;
}
html{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        header{
            width: 100%;
        }
        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 1em 1em 0 0;
        }
        footer{
            width: 100%;
        }
    }
}
.header-logo{
    @include logo;
    flex-wrap: wrap;
    a{
        width: 10%;
        display: flex;
        align-items: center;
    }
    .main-logo-div{
        width: 90%
    }
}
.fa-arrow-left{
    @include arrow;
    position: relative;
}
.main-logo-div{
    img{
        width: 160px;
        height: auto;
        margin: 1em 0;
    }
}
.main-photo{
    width: 100%;
}
.upper-menu{
    display: flex;
    margin-top: 2em;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3em 3em 0 0;
    background-color: #F2F2F2;
    .upper-menu{
        width: 90%;
        display: flex;
        justify-content: space-between;
        h3{
            font-style: italic;
            font-size: 1.9em;
            font-weight: bold;
        }
        .fa-heart{
            font-size: 1.7em;
        }
    }
    .menu-options{
        width: 90%;
    }
}
.starter{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.main-course{
    margin-top: 2em;
}
.desserts{
    margin-top: 2em;
}
.green-bar{
    @include green-bar;
}
.dishes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 18em;
    margin-top: 1em;
}
.dish{
    width: 100%;
    height: 5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    .dish-details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
button{
    @include colored-button;
    margin-top: 2em;
}
footer{
    background-color: darkgrey;
    color: white;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .container{
        margin-top: 2em;
        width: 90%;
        .logo-svg{
            margin-bottom: 2em;
        }
        .footer-info{
            margin: 1em 0;
        }
    }
}
.link{
    margin-bottom: 0.8em;
    display: flex;
    .fa-utensils,
    .fa-hands-helping{
        margin-right: 1em;
        width: 1em;
    }

}