$primary-color: #9356DC;
$secondary-color: #FF79DA ;
$tertiary-color: #99E2D0;
@mixin logo{
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    z-index: 1;
}
@mixin button{
    height: 4em;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.07);
    display: flex;
    align-items: center;
}
@mixin colored-button{
    margin-bottom: 2em;
    width: 9em;
    height: 3.6em;
    border-radius: 30px;
    background: $primary-color;
    background: linear-gradient(350deg, $primary-color 51%, $secondary-color 100%);
    border: 0;
    color: white;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    font-weight: bolder;
}
html{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    body{
        display: flex;
        flex-direction: column;
        background-color: white;
    }
}
.main-logo-div{
    @include logo;
    img{
        width: 12em;
        height: auto;
        margin: 1em 0;
    }
}
.location-box{
    width: 100%;
    height: fit-content;
    background-color: #f3f3f3;
    .location{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5em;
        .fa-map-marker-alt{
            margin-right: 1em;
        }
        p{
            font-weight: bolder;
        }
    }
}
.section-1{
    background-color: #fafafa;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 280px;
    .explore-info{
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 120px;
        .reservation{
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    .explore-button{
        @include colored-button();
        width: 14em;
        font-size: 1em;
        font-weight: bold;
    }
}
.section-2{
    display: flex;
    justify-content: center;
}
.explanation-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    .explanation-box-title{
        width: 100%;
        margin-bottom: 1.5em;
        font-weight: bold;
        font-size: 1.5em;
    }
    .steps{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .step{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50px;
        }
    }
}
.step{
    display: flex;
    align-items: center;
    .num{
        position: relative;
        width: 1.5em;
        height: 1.5em;
        border-radius: 3em;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.9em;
        left: .5em;
    }
    .task{
        @include button();
        width: 100%;
    }
}
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    h3{
        width: 90%;
        font-weight: bold;
        font-size: 1.5em;
    }
}
.restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice{
    position: relative;
    width: 90%;
    height: 15em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.07);
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    .dish-photo{
        width: 100%;
        height: 70%;
        border-radius: 18px 18px 0 0;
        object-fit: cover;
    }
    .new{
        background-color: $tertiary-color;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }
    .about-choice{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30%;
        .fa-heart{
            display: flex;
            justify-content: flex-start;
            margin-top: 10px;
            font-size: 1.5em;
            color: #000;
        }
    }
}
.informations{
    color: #000;
    p{
        margin: 0.5em 0;
    }
    .restaurant-name{
        font-weight: bold;
    }
}
footer{
    background-color: #353535;
    color: white;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        margin-top: 2em;
        width: 90%;
        .logo-footer{
            margin-bottom: 3em;
            color: #FFF;
            font-family: Shrikhand,"cursive";
            font-size: 1.2em;
        }
        .footer-info{
            margin: 1em 0;
        }
    }
}
.link{
    margin-top: 1em;
    margin-bottom: 0.8em;
    display: flex;
    .fa-utensils,
    .fa-hands-helping{
        margin-right: 1em;
        width: 1em;
    }

}

