@import "main.scss";

@mixin arrow{
    font-size: 1.3em;
}
@mixin green-bar{
    margin-top: 0.5em;
    width: 2.3em;
    height: 0.2em;
    background-color: #99e2d0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        header{
            width: 100%;
        }
        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 1em 1em 0 0;
        }
        footer{
            width: 100%;
        }
    }
}
.header-logo{
    @include logo;  
    flex-wrap: wrap;
    .back-button{
        width: 12%;
        display: flex;
        align-items: center;
        color: #000;
        font-weight: 900;
    }
    .back-button:link{
        text-decoration: none;
    }
    .main-logo-div{
        width: 76%
    }
    .space{
        width: 12%;
    }
}
.fa-arrow-left{
    @include arrow;
    position: relative;
    margin-left: 1em;
}
.main-logo-div{
    @include logo-div;
    box-shadow: none;
}
.main-photo{
    width: 100%;
}
.upper-menu{
    display: flex;
    margin-top: 2em;
    font-family: Shrikhand,"cursive";
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3em 3em 0 0;
    background-color: #f6f6f6;;
    margin-top: -4em;
    z-index: 1;
    .upper-menu{
        width: 90%;
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 1.7em;
        }
        .fa-heart{
            font-size: 1.7em;
            margin-right: 1em;
        }
    }
    .menu-options{
        width: 90%;
    }
}
.starter{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    h3{
        width: 90%;
    }
}
.main-course{
    margin-top: 2em;
    h3{
        width: 90%;
    }
}
.desserts{
    margin-top: 2em;
    h3{
        width: 90%;
    }
}
.green-bar{
    @include green-bar;
}
.dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18em;
}
.dish{
    width: 90%;
    height: 5em;
    margin-top: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    padding-left: 1em;
    padding-right: 1em;
    h4{
        font-weight: bold;
        font-size: 1.2em;
    }
    .dish-details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 0.5em;
    }
    .price{
        font-weight: bold;
    }
}
button{
    @include colored-button;
    margin-top: 2em;
    font-size: 1.1em;
}
footer{
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .container{
        margin-top: 2em;
        width: 90%;
        .logo-footer{
            margin-bottom: 3em;
            color: #FFF;
            font-family: Shrikhand,"cursive";
            font-size: 1.2em;
        }
        .footer-info{
            margin: 1em 0;
        }
    }
}
.link{
    margin-bottom: 0.8em;
    display: flex;
    .fa-utensils,
    .fa-hands-helping{
        margin-right: 1em;
        width: 1em;
    }

}
